<%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="./css/product.css">
</head>

<body>
    <%- include('partials/nav.ejs') %>

    <main>
        <h1><%= pageTitle %> - Products</h1>
        <% if (prods.length > 0) {  %>
        <div class="grid">
            <% for (let prod of prods) {  %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= prods.title %></h1>
                </header>
                <div class="card__image">
                    <img src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png" alt="A Book">
                </div>
                <div class="card__content">
                    <h2 class="product__description"><%= prods.author %></h2>
                    <h2 class="product__description"><%= prods.publish %></h2>
                    <p class="product__description"><%= prods.description %></p>
                    <h2 class="product__price"><%= price %></h2>
                </div>
                <div class="card__actions">
                    <button class="btn">Add to Cart</button>
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('partials/footer.ejs') %>